@model AiCard.Models.ArticleCreateEditViewModel

@{
    ViewBag.Title = "预览";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">商品动态</a></li>
    <li>编辑动态</li>
</ol>
<div class="roleGroupCreateEdit">

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cover)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cover)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                <div style="width:750px">
                    @Html.Raw(Model.Content)
                </div>
               
            </dd>


        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
        @*@Html.ActionLink("返回", "Index")*@
        <a href="@Url.Action("Index")" class="btn btn-default" style="margin-left:60px;">返回</a>
    </p>
</div>
