@model AiCard.Models.HomePageModularByHtml
@{
    ViewBag.Title = "公司主页模块新增";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
    AiCard.Common.CommModels.FileUpload uploader = new AiCard.Common.CommModels.FileUpload
    {
        AutoInit = false,
        Max = 50,
        Name = "ckupload",
        Server = AiCard.Common.CommModels.UploadServer.QinQiu,
        Mode = AiCard.Common.CommModels.FileUploadMode.ModalOnly,
        Type = AiCard.Common.CommModels.FileType.Image,
    };
}
<div class="ModularByHtml">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")">公司主页</a></li>
        <li class="active">模块新增</li>
    </ol>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">
                    @Model.Type.GetDisplayName()
                </div>
            </div>
            <div class="form-group ">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="添加" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    @Html.EditorFor(model => uploader)
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js",
        "~/bundles/homePageModular")
}